<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.mutistic.mybatis.java.pagination.mapper.PaginationMapper">
	<!-- 逻辑分页（通过RowBounds查询到所有的数据后在内存中分页，不建议使用） -->
	<select id="queryByLogicPaging" resultMap="com.mutistic.mybatis.java.select.mapper.SelectMapper.resultMap">
		SELECT
		<include refid="com.mutistic.mybatis.java.select.mapper.SelectMapper.entityColumn" />
		FROM biz_address
	</select>
	<!-- MySql分页查询  -->
	<select id="queryByDBPaging" parameterType="Map"
		resultMap="com.mutistic.mybatis.java.select.mapper.SelectMapper.resultMap">
		SELECT
		<include refid="com.mutistic.mybatis.java.select.mapper.SelectMapper.entityColumn" />
		FROM biz_address
		<where>
			<if test="consigneeNameLike != null and consigneeNameLike != ''">
				AND consignee_name LIKE CONCAT('%', #{consigneeNameLike}, '%')
			</if>
		</where>
		<if test="limit != null"> LIMIT ${limit} </if>
		<if test="offset != null"> OFFSET ${offset} </if>
	</select>
</mapper>